.parent {


    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 1 / 1 / 2 / 2; }
    .div3 { grid-area: 1 / 2 / 2 / 5; }
    .div4 { grid-area: 1 / 5 / 2 / 6; }

    
.div1{
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    background-color:  rgba(14, 14, 1, 0.295);

}


.div2{
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
  
    
    }

    .div3{
        width: auto;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
      
        
        }

        .div4{
            width: auto;
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            }

            .div4 a {
                border: solid 1px #fff7009e;
                height: 40px;
                width: 200px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                background-color:#b800007a;
                text-decoration: none;
                color: #fff7009e;
            }
              
            h1{
                display: flex;
                justify-content: center;
                text-align: center;
            }
            
            
            nav{
                width: 100%;
                margin: 0 auto;
                position: sticky;
                top: 0px;
                list-style-type: none;
            }
            
            nav ul{
                list-style-type: none;
            }
            
            nav ul li{
                float: left;
                width: 25%;
                text-align: center;
                position: relative;
                list-style-type: none;
            }
            
            nav ul::after{
                content: "";
                display: table;
                clear: both;
    
            }
            
            nav a{
                display: block;
                text-decoration: none;
                color: #fff7009e;
                background-color:#b800007a ;
                padding: 10px 0px;
                border: solid 1px #fff7009e;
                
              
            }
            
            
            /* Ici je travaille sur ma class sous j'utilise le display: none pour cacher ma liste */
            
            .sous{    
                display: none;
                position: absolute;
                width: 100%;
                z-index: 1000; /* Pour que mon éléments en question passe par-dessus et j'utilise la position absolute pour retirer le flux  */
                list-style-type: none;
            margin-left: -39.9px;
            }
            
            /* Ici je travaille sur ma nav plus mes ul et li avec mon hover ce qui vas me servir pour mon hoover à avoir 
            placement en block*/
            
            nav > ul li:hover .sous{
                display: block;
        
            }
            .sous li{
                float: none;
                width: 100%;
                text-align: left;
            }
            .sous a{
                padding: 10px;
                
            }
            .sous a:hover{
                background-color:#b800007a ;
                list-style-type: none;
            }
            .deroulant > a::after{   /* Le symbole > ici me sert à cibler les enfants direct du conteneur parents et le :: de me sert à selectionner le pseudo-élément */
                font-size: 12px;
                
            }
            
            .conteneur{
              margin: 50px 20px;
              height: 1500px;
            }
nav a:hover{
    color: #dd6c1bec;
}

/*  HEADER */



.galeryfooter{
    background-color: rgba(0, 0, 0, 0.418);
    display: flex;
    flex-direction: row !important;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 500px;
    }


   
        
    
    body {
        background-color: rgb(12, 12, 112);
    }
    .logoexplication{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
        .explication{
            color: #fff7009e;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.623);
            border: solid 1px #fff7009e;
            border-radius: 25px;
            margin-left: 300px;
            margin-right: 300px;
            margin-top: 150px;
        }
    


    .classement{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content:center;
      
    }
        

        .raider1{
            margin-bottom: 100px;
            margin-top: 200px;
            border: solid 2px black;
            border-radius: 25px;
        }
 .raider2{
    border: solid 2px black;
    border-radius: 25px;
    position:relative;
 }
 .explication1{
    background-color: rgba(0, 0, 0, 0.616);
    color: #fff7009e;
    border: solid 2px #fff7009e;
    text-align: center;
    justify-content: center;
    z-index: 1000;
    margin-top: -165px;
   width: 1116px;
   border-radius: 15px;
   align-items: center;
    
    
 }

 .explication2{
    background-color: rgba(0, 0, 0, 0.616);
    color: #fff7009e;
    border: solid 1px #fff7009e;
    text-align: center;
    justify-content: center;
    z-index: 1000;
   margin-top: -65px;
   width: 1116px;
   border-radius: 15px;
 }

 @media all and (max-width: 900px) 
{
   .galeryfooter{
       display: none;
   }

   
   

}



.ingame{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}


.ingame1{
    border: solid 1px black;
    border-radius: 25px;
}
.p{
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.473);
    border: solid 1px #fff7009e;
   margin-top: 150px;
   color: #fff7009e;
   margin-left: 250px;
   margin-right: 250px;
   border-radius: 15px;
    
}
.ingame2{
    border: solid 1px black;
    border-radius: 25px;
 }

 .ingame3{
    border: solid 1px black;
    border-radius: 25px;
    }